.one_news {
  @apply bg-[#f2f4ff] pt-16 pb-12;
}
.content {
  @apply max-w-[850px] m-auto;
}
.title {
  font-size: 30px;
  font-family: "interBold";
  color: #1e2123;
  margin-bottom: 30px;
}
.row {
  @apply flex justify-between items-center mb-12;
}
.date {
  background: rgba(102, 78, 249, 0.1);
  border-radius: 18px;
  color: #664ef9;
  display: inline-block;
  padding: 10px 16px;
}
.social {
  @apply flex gap-5 items-center;
}
.img img {
  @apply w-[850px] mt-[-50px] m-auto rounded-[10px] mb-10;
}
.paragraf {
  @apply text-[#1E2123] mt-0;
  font-size: 16px;
  line-height: 150%;
}
.down_title {
  font-size: 25px;
  font-family: "interBold";
  color: #1e2123;
  margin-bottom: 30px;
}
.read {
  @apply pb-[100px] pt-[60px] px-[80px];
  background: rgba(102, 78, 249, 0.1);
}
.newsgrid {
  @apply grid gap-8 items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
  justify-self: center;
}
